@font-face {
    font-family: Moragon;
    src: url(assets/fonts/moragon/Moragon\ Bold.ttf);
  }
@font-face {
    font-family: Standerd;
    src: url(assets/fonts/standerd-free/Standerd-Regular.ttf);
  }
body{
    margin: 0;
    font-family: Standerd;
    /* background-color: E6EBE4; */
}
#nav-list {
    list-style-type: none;
    /* list-style: none; */
}

#logo-img{
    width: 300px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: whitesmoke; */
}
.menu-list{
    display: flex;
    flex-grow: 1;
    /* flex-direction: column; */
    /* margin-right: 30px; */
    justify-content: end;
}
#menu-item{

    margin-right: 30px;
    font-size: 30px;
    /* font-weight: bold; */

}

#hero-image{
    height: 500px;
    margin-top: 20px;
    /* padding-left: 20px; */
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); */

}

.hero{
    background-color: #FEF3DF;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    padding-bottom: 230px;
}
.hero-description{
    text-align: start;
    /* display: flex; */
    /* align-items: center; */
    width: 50%;
    padding: 30px 30px;
    /* flex-direction: c; */
    /* padding: 140px 40px; */
    /* padding-left: 40px; */
    /* font-weight: bold; */
    font-size: 30px;
}

.hero-image-container{
    /* width: 50%; */
}
#well-crafted{
    border-bottom: 2px solid #D7C49E;
}

.hire-me-button{
    background: #2F3349;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px;
}
#check-project{
    /* background: #2F3349; */
    border: 1px solid #2F3349 ;
    background: transparent;
    color: #2F3349;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
}
#check-project:hover{
    background: #2F3349;
    color: white;
}
#get-in-touch{
    border: 1px solid #2F3349 ;
    background: transparent;
    color: #2F3349;
    padding: 10px 55px;
    font-weight: bold;
    font-size: 16px;
    /* width: 100%; */

}
#get-in-touch:hover{
    background: #2F3349;
    color: white;
}
.who-iam{
    padding: 30px;
    margin-top: 100px;
    /* background-color: #E6EBE4; */
    color: black;
    display: flex;
    justify-content: end;
}
#who-iam-img{
    /* width: 250px;
    /* /* height: 50vh;  */
    width: 90%;
    height: 400px;
}
.who-iam-description-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    /* font-weight: bold; */
}
#who-iam-title{
    font-weight: bold;
}
.who-iam-img-container{
    width: 50%;
}

.projects{
    /* margin: 50px 0px; */
    text-align: center;
    padding: 10px 0px;
    font-size: 30px;
    background-color: #E6EBE4;
    /* height: 60vh; */
}
.projects-list{
    display: flex;
    /* justify-content: space-evenly; */
}
.project-item{
    padding: 30px;
    margin: 20px;
    width: 30%;
}
#project1{
    background-color: #FEF3DF;
}
#project2{
    background-color: white;
}
#project3{
    background-color: #E0F1F1;
}
.call-to-action{
    /* background-color: #FEF3DF; */
    /* margin-top: 0px;
    padding-top: 0px; */
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    /* margin: 20px 0px; */
    padding: 20px 0px;

}

.call-to-action p{
    font-size: 24px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

footer{
    background-color: #2F3349;
    color: white;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0px;
}
#footer-title{
    font-weight: bold;
}
.links a {
    text-decoration: none;
    color: white;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #logo-img{
        width: 200px;
    }
    /* .hero{
        flex-direction: column;
    } */
    .hero{
        background-color: #FEF3DF;
        height: 40vh;
        display: block;
        /* justify-content: space-around; */
        padding-bottom: 230px;
    }
    .hero-description{
        text-align: start;
        /* display: flex; */
        /* align-items: center; */
        width: 90%;
        padding: 30px 30px;
        /* flex-direction: c; */
        /* padding: 140px 40px; */
        /* padding-left: 40px; */
        /* font-weight: bold; */
        font-size: 20px;
    }
    #hero-image{
        display: none;
    }
    .header{
        flex-direction: column;
    }
    .menu-list{
        flex-direction: column;
        text-align: start;
    }
    #who-iam-img{
        display: none;
    }
    .who-iam{
        padding: 10px;
        margin-top: 30px;
        /* background-color: #E6EBE4; */
        color: black;
        display: block;
        /* justify-content: end; */
    }
    .who-iam-description-container{
        width: 100%;
        /* display: flex; */
        /* flex-direction: column; */
        font-size: 20px;
        /* font-weight: bold; */
    }
    .projects-list{
        flex-direction: column;
    }
    .project-item{
        padding: 30px;
        margin: 20px;
        width: 70%;
    }
    .footer{
        flex-direction: column;
    }
    footer{
        height: 410px;
    }
  }

@media only screen and (min-width: 768px) {

    .header{
        height: 100px;
    }

}
